[Unit]
Description=Some personal Docker containers
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f {{ deploy_adguard_directory }}/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f {{ deploy_adguard_directory }}/docker-compose.yml stop"

[Install]
WantedBy=multi-user.target